@{
    var user = await UserManager.GetUserAsync(User);
    var avatar = user?.Avatar ?? "avatar_01.jpg";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Администрирование - @ViewData["Title"]</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css"rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/adminx.css" rel="stylesheet" />
    <link href="~/css/adminsite.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>
<body>
    <div class="adminx-container">
      <nav class="navbar navbar-expand justify-content-between fixed-top">
        <a class="navbar-brand mb-0 h1 d-none d-md-block" href="index.html">
          <img src="~/images/logo-mini.jpg" class="navbar-brand-image d-inline-block align-top mr-2" alt="">
          Администрирование
        </a>

        <!--
        <form class="form-inline form-quicksearch d-none d-md-block mx-auto">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-icon">
                <i data-feather="search"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="search" placeholder="Type to search...">
          </div>
        </form>
        -->

        <div class="d-flex flex-1 d-block d-md-none">
          <a href="#" class="sidebar-toggle ml-3">
            <i data-feather="menu"></i>
          </a>
        </div>

        <ul class="navbar-nav d-flex justify-content-end mr-2">
          <!-- Notificatoins -->
          <li class="nav-item dropdown d-flex align-items-center mr-2">
            <a class="nav-link nav-link-notifications" id="dropdownNotifications" data-toggle="dropdown" href="#">
              <i class="oi oi-bell display-inline-block align-middle"></i>
              <span class="nav-link-notification-number">3</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-notifications" aria-labelledby="dropdownNotifications">
              <div class="notifications-header d-flex justify-content-between align-items-center">
                <span class="notifications-header-title">
                  Notifications
                </span>
                <a href="#" class="d-flex"><small>Mark all as read</small></a>
              </div>

              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action unread">
                  <p class="mb-1">Invitation for <strong>Lunch</strong> on <strong>Jan 12th 2018</strong> by <strong>Laura</strong></p>

                  <div class="mb-1">
                    <button type="button" class="btn btn-primary btn-sm">Accept invite</button>
                    <button type="button" class="btn btn-outline-danger btn-sm">Decline</button>
                  </div>

                  <small>1 hour ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1"><strong class="text-success">Goal completed</strong><br />1,000 new members today</p>
                  <small>3 days ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1 text-danger"><strong>System error detected</strong></p>
                  <small>3 days ago</small>
                </a>

                <a href="#" class="list-group-item list-group-item-action">
                  <p class="mb-1">Your task <strong>Design Draft</strong> is due today.</p>
                  <small>4 days ago</small>
                </a>
              </div>

              <div class="notifications-footer text-center">
                <a href="#"><small>View all notifications</small></a>
              </div>
            </div>
          </li>
          <!-- Notifications -->
          <!-- User settings -->
          <li class="nav-item dropdown">
            <a class="nav-link avatar-with-name" id="navbarDropdownMenuLink" data-toggle="dropdown" href="#">
              <img src="~/images/avatars/@avatar" class="d-inline-block align-top" alt="">
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Профиль</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" >Выйти</a>
            </div>
          </li>
          <!-- User settings -->
        </ul>
      </nav>
      <!-- expand-hover push -->
      <!-- Sidebar -->
      <div class="adminx-sidebar expand-hover push">
        <ul class="sidebar-nav">
          <li class="sidebar-nav-item">
            <a asp-area="Administration" asp-page="Index" class="sidebar-nav-link active">
              <span class="sidebar-nav-icon">
                <i data-feather="home"></i>
              </span>
              <span class="sidebar-nav-name">
                Главная
              </span>
              <span class="sidebar-nav-end">

              </span>
            </a>
          </li>

          <li class="sidebar-nav-item">
            <a asp-area="Admiistration" asp-page="BlogMessages" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="message-square"></i>
              </span>
              <span class="sidebar-nav-name">
                Сообщения
              </span>
              <span class="sidebar-nav-end">
                <span class="badge badge-info"></span>
              </span>
            </a>
          </li>

          <li class="sidebar-nav-item">
            <a asp-area="Administration" asp-page="Users" class="sidebar-nav-link">
              <span class="sidebar-nav-icon">
                <i data-feather="users"></i>
              </span>
              <span class="sidebar-nav-name">
                Пользователи
              </span>
              <span class="sidebar-nav-end">
                <span class="badge badge-info"></span>
              </span>
            </a>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navBlogs" aria-expanded="false" aria-controls="navTables">
              <span class="sidebar-nav-icon">
                <i data-feather="book"></i>
              </span>
              <span class="sidebar-nav-name">
                Блог
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navBlogs">
              <li class="sidebar-nav-item">
                <a asp-area="Administration" asp-page="Blogs" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    - 
                  </span>
                  <span class="sidebar-nav-name">
                    Список
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a asp-area="Administration" asp-page="BlogAddOrEdit" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    - 
                  </span>
                  <span class="sidebar-nav-name">
                    Добавить
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navWorks" aria-expanded="false" aria-controls="navTables">
              <span class="sidebar-nav-icon">
                <i data-feather="briefcase"></i>
              </span>
              <span class="sidebar-nav-name">
                Работы
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navWorks">
              <li class="sidebar-nav-item">
                <a asp-area="Administration" asp-page="Projects" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    - 
                  </span>
                  <span class="sidebar-nav-name">
                    Список
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a asp-area="Administration" asp-page="ProjectAddOrEdit" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    - 
                  </span>
                  <span class="sidebar-nav-name">
                    Добавить
                  </span>
                </a>
              </li>
            </ul>
          </li>

          <li class="sidebar-nav-item">
            <a class="sidebar-nav-link collapsed" data-toggle="collapse" href="#navComments" aria-expanded="false" aria-controls="navForms">
              <span class="sidebar-nav-icon">
                <i data-feather="file-text"></i>
              </span>
              <span class="sidebar-nav-name">
                Комментарии
              </span>
              <span class="sidebar-nav-end">
                <i data-feather="chevron-right" class="nav-collapse-icon"></i>
              </span>
            </a>

            <ul class="sidebar-sub-nav collapse" id="navComments">
              <li class="sidebar-nav-item">
                <a asp-area="Administration" asp-page="BlogMessages" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    -
                  </span>
                  <span class="sidebar-nav-name">
                    Список
                  </span>
                </a>
              </li>

              <li class="sidebar-nav-item">
                <a asp-area="Administration" asp-page="BlogMessageAddOrEdit" class="sidebar-nav-link">
                  <span class="sidebar-nav-abbr">
                    -
                  </span>
                  <span class="sidebar-nav-name">
                    Добавить
                  </span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- Sidebar End -->

      <!-- adminx-content-aside -->
      <div class="adminx-content">
        <!--
        <div class="adminx-aside">

        </div>
        -->
        <div class="adminx-main-content">
            @RenderBody()
            @await Html.PartialAsync("_StatusMessage", TempData["Result"])
        </div>
      </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript" src="~/js/adminx.js"></script>
<script type="text/javascript" src="~/js/vendor.js"></script>
<script type="text/javascript" src="~/js/adminsite.js" asp-append-version="true"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>