<section id="company-information" class="padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="~/images/aboutus/1.png" class="img-responsive" alt="">
            </div>
            <div class="col-sm-6 padding-top">
                <p>Мы занимаемся разработкой и дизайном сайтов, по современным трендам и с самыми современными технологиями.</p>
                <p>Вам всегда помогут наши специалисты, подберут дизайн, согласуют макет, а затем предоставят полностью работающий сайт, с последующей его поддержкой.</p>
            </div>
        </div>
    </div>
</section>