
<section id="features">
    <div class="container">
        <div class="row">
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="~/images/home/image1.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Поддержка клиентов</h2>
                    <P>Даже по завершению проекта, мы предоставляем поддержку клиентам.</P>
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Универсальность проектов</h2>
                    <P>Наши преокты, отображаются одинакого красиво как на ваших ПК, так и на смартфонах или любых других ваших устройствах.</P>
                </div>
                <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="~/images/home/image2.png" class="img-responsive" alt="">
                </div>
            </div>
            <div class="single-features">
                <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                    <img src="~/images/home/image3.png" class="img-responsive" alt="">
                </div>
                <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                    <h2>Профессиональная консультация</h2>
                    <P>Наш дизайнер, проконсультирует вас и поможет выбрать оптимальный стиль и возможности для вашего сайта.</P>
                </div>
            </div>
        </div>
    </div>
</section>
    <!--/#features-->