
<section id="home-slider">
    <div class="container">
        <div class="main-slider">
            <div class="slide-text">
                <h1>Мы Творческие Ботаники</h1>
                <p>Создание дизайна и проектировки сайтов, любой сложности. Индивидуальный подход к каждому клиенты.</p>
                <a href="#" class="btn btn-common">Регистрация</a>
            </div>
            <img src="~/images/home/slider/slide1/house.png" class="img-responsive slider-house" alt="slider image">
            <img src="~/images/home/slider/slide1/circle1.png" class="slider-circle1" alt="slider image">
            <img src="~/images/home/slider/slide1/circle2.png" class="slider-circle2" alt="slider image">
            <img src="~/images/home/slider/slide1/cloud1.png" class="slider-cloud1" alt="slider image">
            <img src="~/images/home/slider/slide1/cloud2.png" class="slider-cloud2" alt="slider image">
            <img src="~/images/home/slider/slide1/cloud3.png" class="slider-cloud3" alt="slider image">
            <img src="~/images/home/slider/slide1/sun.png" class="slider-sun" alt="slider image">
            <img src="~/images/home/cycle.png" class="slider-cycle" alt="">
        </div>
    </div>
    <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
</section>
<!--/#home-slider-->