
<section id="map-section">
    <div class="container">
        <div id="gmap">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac47b973cc9d8e45ece6c542a9fe3646ee20b96bb22cb874655cd53ccfab91f39&amp;width=730&amp;height=350&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="contact-info">
            <h2>Контакты</h2>
            <address>
            Почта: <a href="mailto:someone@example.com">email@email.com</a> <br> 
            Телефн: +1 (123) 456 7890 <br> 
            Факс: +1 (123) 456 7891 <br> 
            </address>

            <h2>Адрес</h2>
            <address>
            Республика Крым, <br> 
            г. Симферополь, <br> 
            ул. Лермонтова <br> 
            дом. 103 <br> 
            </address>
        </div>
    </div>
</section> <!--/#map-section-->      